.style {
  text-align: center;
}
.styleAlingLeft {
  text-align: left;
}

.styleAlingButtonFile {
  margin-top: 0.5%;
  margin-left: 1%;
  text-align: left;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.styleMarginButtom {
  margin-bottom: 0.5%;
}
.styleBackgroud{
  background-color: rgba(15, 71, 255, 0.72);
}
.styleetiq{
  width: '150px';
}

.styleButton{
  background-color: rgba(15, 71, 255, 0.72);
  margin-left: 1%;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 20%;
}


.space{
  margin-top: 0.5%;
  position: absolute;
  right: 0%;
}
.styleHeader {
  background-color:#3f51b5;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.styleFooter {
  background-color:#3f51b5;
  color: white;
  min-height: 3vh;
  font-size: calc(1px + 2vmin);
}
.styleCenterContenedor{
  min-height: 82vh;
  
}
.styleCenterAll{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
 
}
.styleNav {
  background-color:#3f51b5;
  color: white;
  min-height: 5vh;
  font-size: calc(10px + 2vmin);
}
.styleSpan{
  padding-top: 20%;
}

.styleLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
